/* .auth-container {
  width: 100%;
  display: flex;
  height: 100vh;
  background: #fff5e6; 
}

.auth-left {
  flex: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-image {
  width: 85%;
  object-fit: contain;
}

.auth-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f4f4;
}

.auth-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 70%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
} */